<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nuonuo.desktopcornermark">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE" />

    <uses-feature android:name="android.hardware.camera.autofocus" /> <!-- 华为角标权限添加 -->
</manifest>